
@{
}
<div class="col-md-6">
    <div class="alert alert-success" role="alert">
        Password setting successfully
    </div>
    
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
        Back to home
    </a>
</div>

