<section class="team-section">
  <div class="container">
    <h2 class="section-title">Teams</h2>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="team-card">
          <div class="team-img-container">
            <img src="@Url.Content("~/images/introductions/avatar-le-hieu-nghia.jpeg")" alt="Le Hieu Nghia" class="team-img">
            <div class="team-img-overlay"></div>
          </div>
          <div class="team-content">
            <h3 class="team-name">Nghia Le</h3>
            <div class="team-role">Chief Technology Officer</div>
            <p class="team-desc">Over 10 experiences in tech filed and banking finance</p>
            <div class="team-social">
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="team-card">
          <div class="team-img-container">
            <img
              src="@Url.Content("~/images/introductions/avatar-le-hieu-nghia.jpeg")"
              alt="Lê Hiếu Nghĩa" class="team-img">
            <div class="team-img-overlay"></div>
          </div>
          <div class="team-content">
            <h3 class="team-name">Nghia Le</h3>
            <div class="team-role">Developer</div>
            <p class="team-desc">Specialize in development system</p>
            <div class="team-social">
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="github"><i class="bi bi-github"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="team-card">
          <div class="team-img-container">
            <img src="@Url.Content("~/images/introductions/avatar-le-hieu-nghia.jpeg")" alt="Le Hieu Nghia" class="team-img">
            <div class="team-img-overlay"></div>
          </div>
          <div class="team-content">
            <h3 class="team-name">Le Hieu Nghia</h3>
            <div class="team-role">Head of Technical</div>
            <p class="team-desc"></p>
            <div class="team-social">
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="github"><i class="bi bi-github"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="team-card">
          <div class="team-img-container">
            <img src="@Url.Content("~/images/introductions/avatar-le-hieu-nghia.jpeg")" alt="Le Hieu Nghia"
                 class="team-img">
            <div class="team-img-overlay"></div>
          </div>
          <div class="team-content">
            <h3 class="team-name">Nghia Le</h3>
            <div class="team-role">Head of Customer Service</div>
            <p class="team-desc">Specialize in Customer Service</p>
            <div class="team-social">
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>