@{
    ViewData["Title"] = "Hướng dẫn sử dụng phần mềm";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link rel="stylesheet" href="~/css/user/huongdan/index.css">
<link rel="stylesheet" href="~/js/HuongDan/index.js" />
<div class="guide-container">
    <div class="container">
        <div class="guide-header">
            <h1 class="guide-title"></h1>
            <p class="guide-subtitle">
                Learn how to use the features of the savings account management system to optimize your experience.
            </p>
        </div>

        <!-- Tính năng nổi bật -->
        @*Render section*@
        @await Html.PartialAsync("Sections/HuongDan/_TinhNangNoiBatPartial")

        <!-- Hướng dẫn chi tiết -->
        @await Html.PartialAsync("Sections/HuongDan/_HuongDanChiTietPartial")
        <!-- Hỗ trợ -->
        @await Html.PartialAsync("Sections/HuongDan/_HoTroPartial")
    </div>
</div>